*.lbk
*.dbk
*.sdf
*.pwi
*.dmp
*.pdsbak
*.pdsprj*.workspace


.metadata
.settings
.idea
RemoteSystemsTempFiles
cmake-build-debug
obj
obj_*
bin
bin_*
*.fh
*.ih1
*.ih8
*.ih16
*.hfont
*.hbmp
*.hstgui
*.stackdump


_STM32F0xx_StdPeriph_Examples
_STM32F10x_StdPeriph_Examples
DSO_QUAD
DevTool_Oven
DevTool_QuadEncoderCounter
EtaDisco
EtaDisplay
Injector
JLinkBinGen
